* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: roboto;
}

.header,
.footer {
    background-color: #1F2937;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0;
}

.banner {
    display: flex;
    gap: 24px;
    padding: 96px 0;
}

.banner>* {
    flex: 1;
}

.banner button {
    margin-top: 16px;
}

.links ul {
    display: flex;
    gap: 24px;
    justify-content: flex-end;
}

.banner p,
.links a {
    font-size: 18px;
    color: #E5E7EB;
}

.banner h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    /* margin-right: auto; */
}

.main,
.sign-up {
    background-color: #FFFFFF;
}

.main h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.quote {
    background-color: #E5E7EB;
}

.sign-up .container {
    background-color: #3882F6;
}

button {
    color: #F9FAF8;
    background-color: #3882F6;
    padding: 8px 36px;
    font-size: 20px;
    border-radius: 8px;
    border: none;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.width {
    width: 1000px;
}

img {
    background-color: #596474;
    text-align: center;

}