* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: roboto;
}

button {
    color: #F9FAF8;
    background-color: #3882F6;
    padding: 8px 36px;
    font-size: 20px;
    border-radius: 8px;
    border: none;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    background-color: #596474;
    text-align: center;
}


/* --------------- Header --------------- */
.header,
.footer {
    background-color: #1F2937;
}

.header {
    padding-bottom: 48px;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav {
    flex: 0 1 900px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 16px;
}

.banner-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner {
    flex: 0 1 900px;
    display: flex;
    gap: 24px;
    padding: 96px 16px;
}

.banner>* {
    flex: 1;
}

.banner button {
    margin-top: 16px;
}

.nav ul {
    display: flex;
    gap: 24px;
    justify-content: flex-end;
}

.banner p,
.nav a {
    font-size: 18px;
    /* color: #E5E7EB; color specified by TOP */
    color: #acb2bc; /* matches better to the image provided by TOP */
}

.banner h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}


/* --------------- Main --------------- */
.main,
.sign-up {
    background-color: #FFFFFF;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main > .container {
    flex: 0 1 900px;
    padding: 16px;
    justify-content: center;
}

.main h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
    margin-bottom: 16px;
}

.main p {
    color: #1F2937;
}

.card-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 48px;
    margin-bottom: 96px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box {
    height: 150px;
    width: 150px;
    border: 4px solid #3882F6;
    border-radius: 20px;
}

.card > p {
    width: 150px;
    text-align: center;
}


/* --------------- Quote --------------- */
.quote {
    background-color: #E5E7EB;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quote .text {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    font-weight: 300;
}

.quote .author {
    display: flex;
    justify-content: flex-end;
    color: #1F2937;
    font-size: 24px;
    font-weight: bold;
    margin-right: 36px;
}

.quote > .container {
    flex: 0 1 900px;
    padding: 120px 56px;
}


/* --------------- Sign-up --------------- */
.sign-up {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F9FAF8;
}

.sign-up .container {
    background-color: #3882F6;
    flex: 0 1 900px;
    margin: 96px;
    padding: 48px 96px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sign-up button {
    border: 2px solid #F9FAF8;
}

.sign-up p {
    color: #E5E7EB; /* color specified by TOP */
    /* color: #acb2bc; matches better to the image provided by TOP */
}


/* --------------- Footer --------------- */
.footer p {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #E5E7EB; /* color specified by TOP */
    padding: 36px;
}